<body>
    <mat-form-field id = "formDatePicker">
        <mat-label>Entrer un intervalle</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Date de début" id = "DatePickerStart">
            <input matEndDate formControlName="end" placeholder="Date de fin" id = "DatePickerEnd">
        </mat-date-range-input>
        <mat-hint>JJ/MM/AAAA - JJ/MM/AAAA</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <p>Selected range: {{range.value | json}}</p>
    <mat-slider min="0" max="100" step="1" showTickMarks discrete [displayWith]="formatLabel">
        <input value="0" matSliderStartThumb>
        <input value="0" matSliderEndThumb>
    </mat-slider>
    <!-- checkbox -->
    <!-- chart -->
</body>