<h1>Détails Produits</h1>

<div *ngFor="let type of sortKeyList" class="productArray">
  <h2>{{ type }}</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Discount Price</th>
        <th>Discount %</th>
        <th>Stock</th>
        <th>Sold</th>
        <th>Comment</th>
        <th>Change Stock</th>
        <th>Save</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produit of sortListeProduits[type]" class="product-row">
        <td>{{ produit.name }}</td>
        <td>{{ produit.price }}</td>
        <td>{{ getDiscountPrice(produit.price, produit.discount) }}</td>
        <td>{{ produit.discount }}</td>
        <td>{{ produit.quantity_stock }}</td>
        <td>{{ produit.quantity_sold }}</td>
        <td>{{ produit.comments }}</td>
        <td><input id="changeStock" type="number" value="{{ produit.quantity_stock }}"></td>
        <td><button onclick="saveProductChange(produit.id)">Save</button></td>
      </tr>
    </tbody>
  </table>
</div>
